<div class="filter-container">
    <span>Filter: </span>

    <input type="radio" name="filter" value="All" [(ngModel)]="selectedRadioButtonValue"
        (change)="onRadioButtonSelectedChanged()" />
    <span>{{'All Courses('+all+')'}}</span>

    <input type="radio" name="filter" value="Free" [(ngModel)]="selectedRadioButtonValue"
        (change)="onRadioButtonSelectedChanged()" />
    <span>{{'Free Courses('+free+')'}}</span>

    <input type="radio" name="filter" value="Premium" [(ngModel)]="selectedRadioButtonValue"
        (change)="onRadioButtonSelectedChanged()" />
    <span>{{'Premium Courses('+premium+')'}}</span>

</div>