/* h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;

}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
} */
/* .wrapper{
    background-color: #FDEBD0;
} */
.container{
    /* width: 820px; */
    margin:0px auto;
    text-align: center;
    /* background-color: #F5F5F5; */
}